@import url ('https://fonts.googleapis.com/css2? family = Raleway: wght @ 100 & display = swap');
*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: #30415d;
    border-radius: 8px;
}
body{
    margin: 0;
    background-image: url("../images/fundal1.jpg");
    font-size: 18px;
    font-family: „Raleway”, sans-serif;

}
header{
    height: 70px;
    background-color: 	#5F9EA0;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 24px;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
.page-container{
    min-height: 100vh;
    padding-top: 70px;
}
main{
    margin: 10px 10% 60px 220px;
    padding: 0px 25px;
}
aside{
    width: 190px;
    height: 100vh;
 
    position: fixed;
    background: linear-gradient(to bottom,rgb(0,255,255),rgb(0,255,0));
    padding-top: 10px;
    font-size: 20px;
  
}

aside a{
    display: block;
    color: cornsilk;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
}
.logo{
    margin-left: 5px;
    font-size: 26px;
    color: #7FFF00;
}
p{
    line-height: 170%;
    border-left: 6px solid #ff533d;
    padding-left: 12px;
}
.rol{
    overflow: auto;
}
[class^="col-"]{
    float: left;
    padding: 5px;
}
.col-10{ width: 10%;}
.col-20{ width: 20%;}
.col-30{ width: 30%;}
.col-40{ width: 40%;}
.col-50{ width: 50%;}
.col-60{ width: 60%;}
.col-70{ width: 70%;}
.col-80{ width: 80%;}
.col-90{ width: 90%;}
.col-100{ width: 100%;}

.title{
    border-bottom: 4px solid #ff533d;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
}
.intro-video{

    display: block;
    max-height: 50vh;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 8px;
   
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;

}
.gallery img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;

}
.gallery img:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}
.row-event{
    margin-top: 20px;
}
.event{
    padding: 0px 15px 15px 15px;
    background-image: url("https://blog.robertorossi.ro/wp-content/uploads/2019/09/plante-de-toamna-1200x900.jpg");
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;

}
.event1{
    padding: 0px 15px 15px 15px;
    background-image: url("https://lh3.googleusercontent.com/proxy/NlyIqXTZrjvQDG_Y8doLDVUc5f5lmO7noXG_mYGbmQeNE6uQuSdCQrXCZSh_qSQhl8X6iStvxmgx4y9zuJ2PnKkhvlPvLTEOvutCc2MakTQAcyXjxbZE4_s8gCOXRDfCxCk");
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;

}
.event2{
    
    padding: 0px 15px 15px 15px;
    background-image: url("https://cdn.alba24.ro/wp-content/uploads/2016/06/profesor-scoala-elev-ora-clasa.jpg");
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;

}
.event3{
    padding: 0px 15px 15px 15px;
    background-image: url("https://www.timpul.md/uploads/modules/news/2012/12/39617/635x0_magia_sarbatorilor_de_craciun1.jpg");
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;

}
.contact-list{
    line-height: 200%;
    list-style:linear-gradient(#ff533d,#ff533d );
}
.map {
width: 100%;
max-width: 480px;
height: 290px;
border-radius: 5px;
border: 2px solid #ff533d;
}
.center{
    text-align: center;
}
.contact-form{
    background-color: 	#ebebd2;
 border-radius: 5px;
 border: 2px solid #ff533d;
 max-width: 480px;
 padding: 5px 15px 30px 15px;
 
}
.contact-form input, .contact-form textarea{
    display: block;
    width: 90%;
    margin: 15px auto  0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px ;
    font-size: 16px;
}
#menu-btn{
    color:white;
    font-size: 28px;
    position: absolute;
    top: 22px;
    right: 25px;
    display: none;

}
.show{
    display: block !important;
}
@media(max-width:768px){
    body{
        font-size:16px;
    
    }
    [class^="col-"]{
        width: 100%;
    }
    main{
        margin: 0px;
        
        padding: 10px 5px 20px 15px;
    }
    aside{
        display: none;
        height: auto;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 25px;
    }
.gallery img{
    width: 130px;
    height: 130px;
}
#menu-btn{
    display: block;
}
}